$background: #1a1a1d;
$colour-red: #c3073f;
$colour-white: #ffffff;
$colour-blue: #7fcdff;
$colour-grey: #3a3b3c;
$colour-orange: #ff8c00;
$carrier-colour: #4b0082;
$battleship-colour: #ffd319;
$cruiser-colour: #00ff00;
$submarine-colour: #0000ff;
$destroyer-colour: #cbc3e3;
