@media (max-width: 1200px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 330px) {
  :root {
    font-size: 6.5px;
  }
}
